.vscode/
*.vscode-ctags

buildroot/
buildroot.tar.gz
linux_toolchain 

images/
build

host_emu/mini-rv32ima

modules/*.cmd
modules/*.mod*
modules/*.ko
modules/*.o
modules/modules.order
modules/Module.symvers
