.vscode/

buildroot/
buildroot.tar.gz

images/

linux_toolchain 

goodies/hibernate/hibernate*

goodies/c4/c4*
goodies/c4/c4src/

goodies/hello_linux/hello*

goodies/coremark/coremark*
goodies/coremark/*.zip
goodies/coremark/coremark-1.01/

goodies/duktape/duktape*
goodies/duktape/duktape-2.7.0/

host_emu/mini-rv32ima
